# -----------------------------
# Service Account
# -----------------------------
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ai-debugger-sa
  namespace: ai-debugger
---
# -----------------------------
# Read-only Role
# -----------------------------
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ai-debugger-readonly
  namespace: ai-debugger
rules:
  - apiGroups: [""]
    resources:
      - pods
      - pods/status
      - events
    verbs:
      - get
      - list
      - watch
---
# -----------------------------
# Role Binding
# -----------------------------
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ai-debugger-readonly-binding
  namespace: ai-debugger
subjects:
  - kind: ServiceAccount
    name: ai-debugger-sa
    namespace: ai-debugger
roleRef:
  kind: Role
  name: ai-debugger-readonly
  apiGroup: rbac.authorization.k8s.io
